data/raw/*.csv
data/processed/*.csv
data/processed/*.joblib
outputs/figures/*.png
outputs/figures/*.html
outputs/tables/*.txt
outputs/tables/*.csv
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/
.venv/
.DS_Store
Thumbs.db
data/raw/*.geojson
